html, body{
	margin: 0;
	width: 100%;
	height: 100%;
}
body{
	background: #40474f;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Amiko', sans-serif;
}
p, ul{
	font-family: 'Amiko', sans-serif;
}

nav{
	width: 100%;
	background: #a2abad;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav h1{
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	color: #f5f5f5;
	font-size: 3em;
	letter-spacing: -3px;
}
nav ul{
	font-weight: 400;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
nav ul li a{
	padding: 1em;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5em 0 0;
}
section#search > p{
	text-align: center;
	color: #bcc2c9;
}
input[type="text"]{
	width: 70%;
	border: 0;
	padding: 1em;
	box-sizing: border-box;
	font-size: 1.4em;
	border: 1px solid #d55140;
}
input[type="text"]:focus{
	outline: 0;
}
button[type="submit"]{
	padding: 1.3em 1em;
	box-sizing: border-box;
	background: #d55140;
	color: #fff;
	border: 0;
	font-size: 1.2em;
}
button[type="submit"]:visited{
	color: #414141;
}
section#overview{
	width: 85%;
	margin: 5em auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;
}
section#overview article{
	position: relative;
	background: #fff;
	width: 32%;
	padding: 1em;
	margin: 0 0 1em;
	box-sizing: border-box;
}
@media only screen and (max-width: 40em) {
	section#overview{
		width: 90%;
		display: block;

	}
	section#overview article{
		width: 100%;
	}
}
section#detail article{
	position: relative;
	background: #fff;
	width: min-content;
	margin: 4em auto;
	padding: 2em;
	box-sizing: border-box;
}
@media only screen and (max-width: 40em) {
	section#detail article{
		width: 90%;
	}
}
article h1{
	margin-bottom: 0;
	padding: 0;
	font-size: 1.2em;
}
article h1 a,
article h1 a:visited{
	color: #d55140;
	text-decoration: none;
}
article h1 a:hover{
	text-decoration: underline;
}
article h1 a:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
article p{
	font-size: .8em;
	margin: .5em 0 .5em;
	padding: 0;
	width: 40em;
	line-height: 1.5;
	color: #818181;
}
@media only screen and (max-width: 40em) {
	article p{
		max-width: 22em;
	}
}
.hide{
	display: none !important;
}
img{
	width: 100%;
}
@media only screen and (max-width: 40em) {
	section#best-practices{
		width: 70%;
	}
	section#start-screen h1{
		padding: 40% 0 0;
	}
}