/* GLOBAl */
html, body{
	margin: 0;
	width: 100%;
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Poppins', sans-serif;
}
p,ul{
	font-family: 'PT Serif', serif;
}
section#navigation{
	width: 100%;
	height: 10%;
}
section#navigation nav{
	background: #1E3746;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
section#navigation nav ul{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
section#navigation nav ul li a{
	padding: 1em;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
section#start-screen{
	width: 100%;
	height: 90%;
	background: #64D7D7;
}
section#start-screen h1{
	margin: 0;
	padding: 20% 0 0;
	color: #1E3746;
	text-align: center;
}
section#best-practices article{
	width: 40%;
	margin: 0 auto;
}
section#best-practices article h2{
	margin-top: 2em;
	text-align: left;
}
.hide{
	display: none;
}

@media only screen and (max-width: 40em) {
	section#best-practices article{
		width: 70%;
	}
	section#start-screen h1{
		padding: 40% 0 0;
	}
}